*{
  margin: 0px;
}

.header{
  width: 100%;
  height:75px;
  border:2px solid black;
  display: flex;
  align-items: center;
}

.Aurelia{
  font-size: 26px !important;
  color:#dbb658;
  font-family: serif !important; 
  letter-spacing: 2px !important;
  font-weight: 300;

  
}

.menu{
  display: flex;
  margin-left: 32px;
  align-items: center;
  color:#85827f;
  font-weight: 900;
  font-family: serif;
 
}

.margin{
  margin: 60px;
  display: flex;
}

.perticularmenu{
  font-size: 13px !important;
  margin-right: 19px !important;
}