*{
  margin: 0px;
}


.Aurelia{
  font-size: 26px !important;
  color:#dbb658;
  font-family: serif !important; 
  letter-spacing: 2px !important;
  font-weight: 300;

  
}

.menu{
  display: flex;
  margin-left: 32px;
  align-items: center;
  color:#55524e !important;
  font-weight: 900 !important;
  font-family: serif;

 
}

.Home{
  color: #deb240 !important;
  font-weight: 600 !important;
}

.margin{
  margin: 60px;
  display: flex;
}

.perticularmenu{
  font-size: 14px !important;
  margin-right: 19px !important;
 
}

.icon{
  margin-right: 55px;
  display: flex;
  align-items: center;
}

.iconmargin{
  margin-right:20px;
  font-size: 18px !important;
}

.Signinbtn{
  color:#dcac31 !important;
  border: 1px solid  #dcac31 !important ;
  padding: 4px 0px!important;
  font-size: 12px !important;
  text-transform: initial !important;
  border-radius: 7px !important;
  font-weight: 600;
}

.Signinbtn:hover{
  background-color:#dcac31 ;
  color:white !important;
}



